<html xmlns="http://www.w3.org/1999/xhtml" ng-app="PetApp">
<head>
    <title></title>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

    <script src="~/Scripts/ngApp/app.js"></script>

    <script src="~/Scripts/ngApp/petsController.js"></script>
</head>
<body>
    <p>Hello World NOT ANGULAR - BEFORE ANGULAR</p>
    <ng-view></ng-view>
</body>
</html>